.card{
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.card-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}